.navbar {
    margin-bottom: 0px;
}
    
.bg-1 {
    background-color: #ff8763; /* Orange */
    color: #ffffff;
}
 
.bg-2 {   
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;  
  }

.bg-3 {
    background-color: #efffff; /* White */
    color: #555555; 
  }

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.img-pad {
    padding-top: 20px;
    padding-bottom: 20px;
  }

.index-gallery {
    
    padding-top: 20px;
    padding-bottom: 20px;
    
}

/*---------------------------------------*/
/*CAMBRIDGE*/
/*---------------------------------------*/

.cambridge-news {
    margin-top: 2em;
    background-color:;
}

.cambridge-news-list a {
    color: coral;
}

/*---------------------------------------*/
/*RESEARCH*/
/*---------------------------------------*/

.research-news {
    margin-top: 2em;
    background-color:;
}

.research-news-list a {
    color: dimgray;
}

.education-history {
    background-color: darkgrey;
}

.education-history a{
    color: whitesmoke;
}

.research-news-article img{
    padding-top: 20px;
    padding-bottom: 20px;
    color: grey;
}

.research-news-article h2{
    padding-top: 20px;
}

.research-news-article p{
    color: grey;
}


.research-follow a{
    color: darkblue;
}


/*---------------------------------------*/
/*TRAVEL HOME*/
/*---------------------------------------*/

.travel-index {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.travel-index a:link {
    text-decoration-line: none;
    color: darkgray;
}

.travel-index a:hover {
    text-decoration-line: none;
    color: slategray;
}

.travel-news {
    width: 90%;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-style: none;

}

.travel-h2 {
    
background-color: #474e5d; /* Dark Blue */
color: #ffffff; 
padding-left: 10px;
margin-bottom: 20px;
border-radius: 10px;

width: 100%;}


@media screen and (max-width: 600px) {

.news-pad {
    padding-top: 0px;
    margin-bottom: 20px;
  }
    
.travel-h2 {
    
background-color: #474e5d; /* Dark Blue */
color: #ffffff; 
text-align: center;
}
    
}

/*---------------------------------------*/
/*GALLERY*/
/*---------------------------------------*/

.img-caption {
    color: grey;
}



